{% extends 'base.html.twig' %}

{% block title %}Elo Photographe - A Propos{% endblock %}

{% block body %}


	{% include "base/header-w.html.twig" %}

    {% include "about/_titre.html.twig" %}

    <div class="container ">
        <div class="row d-flex  padding-md-80t padding-md-80b padding-sm-10t padding-sm-0b padding-xs-0t">
            <div class="col-sm-10 col-lg-offset-1 col-lg-4 col-md-offset-0 col-md-6 col-sm-offset-1 col-xs-12  margin-lg-15t margin-lg-50b margin-sm-0b margin-xs-0b">
                <div class="wpb_wrappe img_padd">
                    <div class="text-center ">
                        <figure class="text-center">
                            <img width="400" height="570"
                                 src="{{asset ('images/img1.jpg') | imagine_filter('professionnel') }}"
                                 class="attachment-large"
                                 alt=""
                                 data-lazy-src="{{asset ('images/img1.jpg') | imagine_filter('professionnel') }} "/>

                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-md-6 col-xs-12  margin-lg-15t margin-lg-50b">
                <div class="wpb_wrapper img_padd">
                    <div class="about-details style1">
                        <div class="content">
                            <h5 class="subtitle">ME</h5>
                            <h1 class="title">
                                MOI <br>
                            </h1>
                            <div class="text">
                                <p></p>
                                <blockquote><p>{{photographe.aPropos}}</p></blockquote>
                                <p></p>
                            </div>
                            {# <div class="button-wrap">
                                <a href="#" class="a-btn-2 button"
                                   target="_self">
                                    VOIR MON PORTFOLIO <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </a>
                            </div> #}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row  margin-lg-80b margin-sm-40b margin-xs-20b">
            <div class="margin-lg-55t margin-lg-65b margin-sm-10t margin-sm-5b d_flex">
                <div class="col-sm-12  margin-lg-35t margin-xs-15t">
                    <div class="wpb_wrapper">
                        <div class="about-details style3">
                            <div class="content">
                                <h5 class="subtitle">WE DO AWESOME THINGS</h5>
                                <div class="text">
                                    <p>Nunc lobortis non ipsum sed blandit. Integer tempus iaculis metus at laoreet
                                        lorem placerat ut. Sed tincidunt tellus</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="margin-lg-55t margin-lg-65b margin-sm-10t margin-sm-5b ">
                <div class="col-sm-12 no-padd">
                    <div class="wpb_wrapper">
                        <div class="col-sm-4  margin-xs-35b">
                            <div class="wpb_wrapper">
                                <div class="services classic">

                                    <div class="img-wrap">
                                        <img data-lazy-src="./assets/images/photo-nic-co-uk-nic-116834.jpg"
                                             src="data:image/gif;base64,R0lGODdhAQABAIAAAAAAAMzMzCwAAAAAAQABAAACAkQBADs="
                                             class="s-img-switch" alt=""/></div>

                                    <div class="content ">
                                        <h4 class="title">WEDDINGS</h4>
                                        <div class="text">Phasellus faucibus venenatis dolor. In elit ligula,
                                            maximus vel
                                            tincidunt ut, rhoncus et turpis.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4  margin-xs-35b">
                            <div class="wpb_wrapper">
                                <div class="services classic">

                                    <div class="img-wrap">
                                        <img data-lazy-src="./assets/images/gallery-item11.jpg"
                                             src="data:image/gif;base64,R0lGODdhAQABAIAAAAAAAMzMzCwAAAAAAQABAAACAkQBADs="
                                             class="s-img-switch" alt=""/></div>

                                    <div class="content ">
                                        <h4 class="title">PORTRAITS</h4>
                                        <div class="text">Phasellus faucibus venenatis dolor. In elit ligula,
                                            maximus vel
                                            tincidunt ut, rhoncus et turpis.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4  margin-xs-25b">
                            <div class="wpb_wrapper">
                                <div class="services classic">

                                    <div class="img-wrap">
                                        <img data-lazy-src="./assets/images/Layer-1.jpg"
                                             src="data:image/gif;base64,R0lGODdhAQABAIAAAAAAAMzMzCwAAAAAAQABAAACAkQBADs="
                                             class="s-img-switch" alt=""/></div>

                                    <div class="content ">
                                        <h4 class="title">URBAN STYLE</h4>
                                        <div class="text">Duis in lacus et arcu feugiat aliquam eget eget justo.
                                            Vestibulum
                                            tempus mattis, eu pellentesque ma.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-full">
        <div class="row no-padd">
            <div class="col-sm-12  margin-lg-10t">
                <div class="wpb_wrapper">
                    <div class="row main-header-testimonial classic">
                        <div class="banner-overlay"></div>
                        <img src="./assets/images/pexels-photo-271544.jpeg"
                             alt="slider" class="s-img-switch">
                        <div class="swiper-container" data-autoplay="0"
                             data-slides-per-view="responsive" data-loop="0"
                             data-speed="500" data-mode="horizontal" data-xs-slides="1"
                             data-sm-slides="1" data-md-slides="1" data-lg-slides="1" data-add-slides="1">
                            <div class="swiper-wrapper">


                                <div class="swiper-slide ">
                                    <div class="content-slide">

                                        <div class="logo-customer">
                                            <img src="./assets/images/10-mens-basics-brands-7.jpg"
                                                 alt="" class="s-img-switch">
                                        </div>
                                        <div class="description clearfix">
                                            <p>Nunc lobortis non ipsum sed blandit. Integer tempus iaculis metus bortis
                                                non
                                                ipsum sed blandit. Integer tempus iaculis metus</p>
                                        </div>
                                        <div class="author">
                                            Joseph Fisher
                                        </div>

                                    </div>
                                </div>


                                <div class="swiper-slide ">
                                    <div class="content-slide">

                                        <div class="logo-customer">
                                            <img src="./assets/images/iStock-476663723-1-760x760.jpg"
                                                 alt="" class="s-img-switch">
                                        </div>
                                        <div class="description clearfix">
                                            <p>Aenean blandit orci metus, vitae imperdiet elit ornare id. Proin ut
                                                bibendum
                                                nisl. Integer leo velit, pretium ac sem non, consequat</p>
                                        </div>
                                        <div class="author">
                                            Alisa Kuper
                                        </div>

                                    </div>
                                </div>


                                <div class="swiper-slide ">
                                    <div class="content-slide">

                                        <div class="logo-customer">
                                            <img src="./assets/images/team-img-7.jpg"
                                                 alt="" class="s-img-switch">
                                        </div>
                                        <div class="description clearfix">
                                            <p>Vivamus mattis nisi nec rhoncus placerat. Suspendisse sapien tellus,
                                                blandit
                                                vel dolor vitae purus sed dictum commodo</p>
                                        </div>
                                        <div class="author">
                                            Soli Lostek
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row margin-lg-80t margin-sm-20t margin-xs-10t">
            <div class="col-sm-12  margin-lg-50t margin-lg-20b margin-sm-40t margin-sm-0b">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="about-details style2">
                            <div class="content">
                                <h5 class="subtitle">EDITORIALS</h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row  margin-lg-80b margin-sm-0b">
            <div class="col-sm-12 col-lg-6 col-md-12  margin-lg-20b margin-xs-0b">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="about-details style1">

                            <div class="content">
                                <div class="text">
                                    <p></p>
                                    <h6>ALWAYS WORK</h6>
                                    <p>Nam ornare quam turpis, a tincidunt dui auctor in. Nulla luctus justo urna, et
                                        tristique nisl dapibus a. Phasellus sagittis ante se cursus consequat. Nam
                                        ornare quam turpis, a tincidunt dui auctor in. Nulla luctus justo urna, et
                                        tristique nisl dapibu Phasellus sagittis ante sed cursus consequat.</p>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-md-12  margin-sm-50b margin-xs-10t margin-xs-40b vc_custom_1500574677907">
                <div class="wpb_wrapper">
                    <div class="skill-wrapper ">


                        <div class="skills">


                            <div class="skill" data-value="65">
                                    <span class="label-skill">
                                        PORTRAITS                                    </span>
                                <div class="value">
                                    <span class="counter" data-from="0" data-speed="1000" data-to="65">0</span>%
                                </div>
                                <div class="line">
                                    <div class="active-line"></div>
                                </div>
                            </div>


                            <div class="skill" data-value="80">
                                    <span class="label-skill">
                                        WEDDING                                    </span>
                                <div class="value">
                                    <span class="counter" data-from="0" data-speed="1000" data-to="80">0</span>%
                                </div>
                                <div class="line">
                                    <div class="active-line"></div>
                                </div>
                            </div>


                            <div class="skill" data-value="70">
                                    <span class="label-skill">
                                        URBAN STYLE                                    </span>
                                <div class="value">
                                    <span class="counter" data-from="0" data-speed="1000" data-to="70">0</span>%
                                </div>
                                <div class="line">
                                    <div class="active-line"></div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-full"></div>
    <div class="row no-padd">
        <div class="col-sm-12 ">
            <div class="wpb_wrapper">
                    <div class="line-of-images  images ">
                        <div class="line-wrap clearfix" data-thumb="true">

                            <a href="./assets/images/pexels-photo-337193.jpeg"
                               class="gallery-item image-line-wrap">
                                <img data-lazy-src="./assets/images/pexels-photo-337193-1024x683.jpeg"
                                     src="data:image/gif;base64,R0lGODdhAQABAIAAAAAAAMzMzCwAAAAAAQABAAACAkQBADs="
                                     class="s-img-switch" alt=""/> </a>


                            <a href="./assets/images/pexels-photo-129828.jpeg"
                               class="gallery-item image-line-wrap">
                                <img data-lazy-src="./assets/images/pexels-photo-129828-1024x683.jpeg"
                                     src="data:image/gif;base64,R0lGODdhAQABAIAAAAAAAMzMzCwAAAAAAQABAAACAkQBADs="
                                     class="s-img-switch" alt=""/> </a>


                            <a href="./assets/images/Layer-11.jpg"
                               class="gallery-item image-line-wrap">
                                <img data-lazy-src="./assets/images/Layer-11.jpg"
                                     src="data:image/gif;base64,R0lGODdhAQABAIAAAAAAAMzMzCwAAAAAAQABAAACAkQBADs="
                                     class="s-img-switch" alt=""/> </a>

                        </div>
                    </div>

                </div>
        </div>
    </div>
{% endblock %}
