<div class="container-full">
	<div class="hero">
		<div class="wpb_wrapper">
			<div class="swiper-container-split">
				<div class="swiper-wrapper">
					{% for categorie in categories %}
						{% if categorie.nom == "Montagne" %}
							{% for projet in categorie.projets.snapshot %}
								<div class="swiper-slide">
									<div class="slide-item slide-text slide-text-left">
										<div class="wrap-slide-text">
											<div class="subtitle">
												<a href="#" rel="tag">{{categorie.nom}}</a>
											</div>
											<div class="title">{{projet.titre}}</div>
											<p class="desc"></p>
											<p>{{projet.description}}</p>
											<a href="{{ path ( 'projet' , {slug: projet.slug, id : projet.id}) }}" class="slide-text-more" target="_self">See more</a>
                                            {# <a href="#" class="slide-text-more" target="_self">See more</a> #}

										</div>
									</div>
									<div class="slide-item slide-img">
										<div class="swiper-lazy" data-background="./assets/images/stock-photo-119564653.jpg">
											<div class="swiper3-lazy-preloader"></div>
										</div>
									</div>
								</div>
							{% endfor %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
