<!-- MAIN_WRAPPER -->
<div class="preloader-svg">
	<svg id="loaderSvg" class="loader__svg" xmlns="http://www.w3.org/2000/svg" height="300" viewbox="0 0 1024 300">
		<defs>
			<pattern x="0" y="0" width="1024" height="686" patternunits="userSpaceOnUse" id="pattern1" viewbox="0 0 1024 300">
				<image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/images/stock-photo-189411801-1024x682.jpg" preserveaspectratio="none" x="0" y="-200" width="1024" height="686"></image>
			</pattern>
			<pattern x="0" y="0" width="1024" height="686" patternunits="userSpaceOnUse" id="pattern2" viewbox="0 0 1024 300">
				<image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/images/stock-photo-123105215-1024x682.jpg" preserveaspectratio="none" x="0" y="-200" width="1024" height="686"></image>
			</pattern>
			<pattern x="0" y="0" width="1024" height="686" patternunits="userSpaceOnUse" id="pattern3" viewbox="0 0 1024 300">
				<image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/images/stock-photo-138439815-1024x682.jpg" preserveaspectratio="none" x="0" y="-200" width="1024" height="686"></image>
			</pattern>
			<pattern x="0" y="0" width="1024" height="686" patternunits="userSpaceOnUse" id="pattern4" viewbox="0 0 1024 300">
				<image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/images/stock-photo-159062461-e1509005459415-1024x670.jpg" preserveaspectratio="none" x="0" y="-200" width="1024" height="686"></image>
			</pattern>
			<pattern x="0" y="0" width="1024" height="686" patternunits="userSpaceOnUse" id="pattern5" viewbox="0 0 1024 300">
				<image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/images/stock-photo-201395315-1024x682.jpg" preserveaspectratio="none" x="0" y="-200" width="1024" height="686"></image>
			</pattern>
		</defs>
		<text x="50%" y="20%" id="letter" dy="150" fill="url('#pattern1')">ELO PHOTOGRAPHE</text>
	</svg>
</div>