<div class="container ">
		<div class="hero">
			<div class="row margin-lg-30t margin-lg-80b margin-sm-10b margin-xs-0t">
				<div class="col-sm-12  margin-lg-30b">
					<div class="about-details style3">

						<div class="content">
							<h5 class="subtitle">ABOUT ME</h5>
							<div class="text">
								<p>My greatest ambition is to create powerful images that commemorate, across
																																																													                                            generations, the people we love and the good times we have had. Creativity, hard
																																																													                                            work and experience are the engines that keep it all going.</p>
							</div>
							<div class="button-wrap">
								<a href="#" class="a-btn-2 button">
									Say hello
									<i class="fa fa-caret-right" aria-hidden="true"></i>
								</a>
							</div>

						</div>

					</div>
				</div>
			</div>
			<div class="row  margin-lg-5t margin-lg-80b margin-xs-25b">
				<div class="portfolio-wrapper container">
					<div class="portfolio l-more col-3 big_gap masonry_modern clearfix no_margin" data-space="5">

						<div class="margin-lg-30b">
							<div class="wpb_wrapper">
                            
								{% for projet in projets %}
									<pre>
							{{ dump(projet.id) }}
						</pre>
									<pre>
							{{ dump(projet.id + 10) }}
						</pre>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row  margin-lg-80b">
				<div class="col-sm-6 col-lg-4 col-md-4 col-xs-12  margin-lg-10b margin-sm-50b">
					<div class="wpb_wrapper">
						<div class="twitter-wrapper ">
							<span class="fa fa fa-twitter"></span>
							<div class="twitter-wrap">
								<img src="./assets/images/cHuicvOV.jpg" alt="">
								<div class="name">
									Andrew Filder
								</div>
								<div class="slug">
									@filder_muko
								</div>
								<div class="description">
									Nulla in quam faucibus est sollicitudin suscipit ullamcorper eu turpis. Integer
																																																													                                        pulvinar a sem et hendrerit.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4 col-md-4 col-xs-12  margin-lg-10b margin-sm-50b">
					<div class="wpb_wrapper">
						<div class="twitter-wrapper ">
							<span class="fa fa fa-quote-right"></span>
							<div class="twitter-wrap">
								<img src="./assets/images/ylIqVs2i.jpg" alt="">
								<div class="name">
									Brianna Kell
								</div>
								<div class="slug">
									@kell_brianaa
								</div>
								<div class="description">
									Suspendisse dignissim justo et lacus tempus, ac hendrerit orci pharetra. Cras eget																													                                        pharetra ipsum
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 vc_col-lg-4 col-md-offset-0 col-md-4 col-sm-offset-3 col-xs-12  margin-lg-60b margin-sm-25b">
					<div class="wpb_wrapper">
						<div class="twitter-wrapper ">
							<span class="fa fa fa-twitter"></span>
							<div class="twitter-wrap">
								<img src="./assets/images/8eTHE4-n.jpg" alt="">
								<div class="name">
									David Karletto
								</div>
								<div class="slug">
									@david_karletto
								</div>
								<div class="description">
									In hac habitasse platea dictumst. Aliquam eget est tristique, mollis mi non,																												                                        lobortis nibh. Nam mattis ultrices pretium.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>