	<div class="container-full">
		<div class="row margin-lg-60b margin-sm-20b margin-xs-25b">
			<div class="col-sm-12 ">
				<div class="container-fluid top-banner full-height-window center_content">
					<img data-lazy-src="{{ asset ('images/' ~ photo[0].file) }}" src="{{ asset ('images/' ~ photo[0].file) }}" class="s-img-switch" alt=""/>
					<div class="content">
						<div class="row text-light">
							<div class="col-xs-12">
								<h4 class="subtitle">Street</h4>
								<h1 class="title">ELO PHOTOGRAPHE</h1>
								<p class="descr">New York studio and outdoor commercial photography by
																																																				                                        professional photographer Whizz</p>
								<a href="{{path ('about')}}" class="a-btn">
									See more
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>