{% extends 'base.html.twig' %}

{% block title %}

	<title>Elo Photographe - Home</title>

{% endblock %}

{% block header %}

	{% include "base/_header.html.twig" %}

{% endblock %}

{% block body %}

	{% include "main/_presentation.html.twig" %}
	
	{% include "main/_actualites.html.twig" %}

{% endblock %}

{% block footer %}

	{% include "base/_footer.html.twig" %}
	
{% endblock %}
